# ignore everything by default
/*

# Track minecraft/mods/ and scripts/
!/minecraft/
minecraft/*
!/minecraft/mods/
!/scripts/

# within mods, ignore common junk
minecraft/mods/*.old
minecraft/mods/*.disabled
minecraft/mods/~$*

# OS junk
.DS_Store
Thumbs.db
