# ignore everything by default
/*

# Track only minecraft/mods/
!/minecraft/
minecraft/*
!/minecraft/mods/

# within mods, ignore common junk
minecraft/mods/*.old
minecraft/mods/*.disabled
minecraft/mods/~$*

# OS junk
.DS_Store
Thumbs.db
